html {
	scroll-behavior: smooth;
}

body{
    background: white;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}


/* HEADER */

header {
    display: flex;
    background: linear-gradient(180deg, rgba(0, 255, 209, 0) 0%, rgba(0, 255, 148, 0.16) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.LogoImg{
    margin-top: 24px;
    width: 198px;
    height: 94px;

}

.Logo {
    width: 50%;
    height: 94px;
    font-family: 'Lexend Exa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    align-items: center;
    text-transform: uppercase;
}

nav{
    display: flex;
    flex-direction: row;
}

nav a {
    display: flex;
    align-items: left;
    font-family: Lora, sans;
    font-style:italic;
    font-size:23px;
    align-items: flex-end;
    text-decoration: none; 
    width: 200px;

}

.AccountPic {
    display: flex;
    align-items: center;
}


/* MAIN */

.main-page {
    display: flex;
    margin-top:100px;
    align-items: center;
}

.Title-Screen{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100%;    
}

.Slogan {
    width: 100%;
    font-family: Lora, serif;
    font-size:68px;
    text-align: center;
}

.TextMain {
    font-family: 'Old Standart TT', serif;
    width: 75%;
    font-size :36px;
    text-align: center;
}

.Title-button{
    margin: 85px;
    width: 450px;
    height: 110px;
    display: flex;
    border: 1px solid;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:#1ccf43;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.Title-button a{
    font-size: 55px;
    font-family:Lora, sans;
    font-weight: bold;
    background-color:00FF47;  
    text-decoration: none;
}

.title-image {
    display: flex;
    justify-content: flex-end;
}
.BENImg {
    width: 509px;
    height: 509px;
}

/* STOCK PAGE */

.Stock-page {
    display: flex;
    flex-direction: column;
}

.Header{
    width: 100%;
    font-family: 'Lora';
    line-height: 82px;
    display: flex;
    background: linear-gradient(180deg, rgba(0, 255, 25, 0) 0%, rgba(0, 107, 255, 0.18) 0%, rgba(51, 255, 0, 0) 0.01%, rgba(0, 255, 56, 0.225) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-self: center;
    text-align: center;
    justify-content: center;
    margin-top:100px;
}
.Header h2{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    font-family: 'Lora';
    line-height: 82px;
}

.Header h3{
    width: 1406px;
    height: 128px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    display: flex;
    align-items: center;
}

.Stock-Island {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Stock-Island h3 {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    text-align: center;
}

.Stock-all{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 190px; 
    width: 100%;
    justify-content: center;
}

.Stock-Button {
    display: flex;
    /* background: linear-gradient(180deg, rgba(47, 230, 255, 0.65) 0%, rgba(0, 224, 255, 0.0715) 61.46%); */
    background:#9dfab1;
    border: 5px solid #0b7a23;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 662px;
    height: 90px;
    align-items: center;
    letter-spacing:24.5%;
}

.Stock-Button a {
    width: 100%;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.Stock-descreprtion {
    display:flex;
    margin-top: 50px;
    flex-direction:column;
    align-items: center;
    border: 7px solid ;
    border-color:rgb(69, 136, 67) ;
    background-color:#a7f0b6;
    /* background: linear-gradient(180deg, rgba(20, 0, 255, 0.2) -24.47%, rgba(255, 255, 255, 0) 100%); */
    border-radius: 9px;
    font-size: 40px;
    line-height: 1px;
    height: 470px;
    font-weight:900px;
}

.Stock-descreprtion p {
    margin-bottom:10px;
    font-weight:700;
}

.Stock-Family {
    display:flex;
    width: 100%;
    justify-content:center;
    margin-bottom: 20px;
}

/* REVIEW */

.Star {
    width: 31px;
    height: 31px;
}


.Review-Full {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 41.67%, rgba(0, 133, 255, 0.08) 100%);
    border: 13px solid rgba(0, 163, 255, 0.39);
    border-radius: 32px;
    margin: 40px auto;
}

.Review {
    display: flex;
    justify-content: center;
}

.Name_Surname {
    text-align: center;
    font-family: 'Lora';
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    align-items: center;
    align-self: center;
}

.Review p {
    font-family: 'Lora';
    width: 80%;
    font-style: italic;
    font-weight: 400;
    font-size: 29px;
    margin-top:1px;
}

.Stars_Background {
    width: 173px;
    height: 35px;
    background: #FF9900;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Open_All {
    width: 100%;
    text-align: center;
}

/* FEEDBACK */

.Feedback { 
    width: 90%;
    height: 569px;  
    margin: 50px auto;
    background: linear-gradient(180deg, #C4FFC6 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 2px;
}

input {
    width: 46%;
    height: 101px;
    border: 3px solid #000000;
    box-sizing: border-box;
    margin: 20px auto;
    font-size:28px;
}

.FeedBack_Name {
    display: flex;
}

.Feedback_Big {
    width: 100%;
    height: 101px;
    box-sizing: border-box;
}
.Feedback_Big textarea {
    width: 96%;
    height: 300px;
    font-size: 29px;
    margin: 10px 28px;
}

.FeedBack_Button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FeedBack_Button a {
    width: 351px;
    text-decoration: none;
    color: black;
    text-align: center;
    background: rgba(185, 255, 230, 0.22);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

}

/* TEAM */

.Team{
    margin: 0 10px;
}

.All_Persons_Top {
    display:flex;
    margin: 50px auto ;
    flex-wrap: wrap;
}

.All_Persons_Bottom {
    display:flex;
    margin: 50px auto;
    flex-wrap: wrap;
    margin-bottom:200px;
}

.Person_Img {
    height: 240px;
    width: 216px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 26px;
}

.Person_Block {
    width: 654px;
    height: 323px;
    background: conic-gradient(from 0deg at 39.83% 53.1%, rgba(255, 255, 255, 0) 0deg, #14d63e 305.97deg, rgba(255, 255, 255, 0) 360deg);
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    margin-left: 90px;
}

.Person_All_Info {
    width: 300px;
}

.Person_Name {
    width: 348px;
    height: 45px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
}

.Person_Info {
    width: 354px;
    height: 95px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 80px;
}

/* CONTACT DETAILS */


.All_Info {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    height: 700px;
    width: 100%;
}

.Map {
    height: 100%;
    width: 40%; 
    margin-top: 40px;
    margin-left: 40px;
}

.Map img {
    height: 594px;
    width: 100%;
}

.Contact_all {
    width: 45%;
    height: 400px;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    margin-left:150px;
    display: flex;
    flex-direction: column;
}

/* PARTNERS */

.Img_Top_and_Bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 465px;
}

.Img_Center {
    display: flex;
    width: 100%;
}

.Img_Center div{
    width: 50%;
}

.Center_Second_Img {
    display: flex;
    justify-content: flex-end;
}

.asidee {
    position: fixed;
    bottom: 50px;
    right: 60px;
}

@media (max-width: 1690px){
    nav{
        flex-direction: column;
    }
    
    nav a {
        display: flex;
        align-items: left;
        font-family: Lora, sans;
        font-style:italic;
        font-size:23px;
        align-items: flex-end;
        text-decoration: none; 
        width: 200px;
    
    }
}

@media (max-width: 1500px){
    .All_Info {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 90%;
    }
    .Map{
        width: 650px;
    }

    .Contact_all{
        width: 90%;
        height: 550px;
        margin-left: 45px;
    }
}


@media (max-width: 1414px){
    .Stock-all{
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }

    .Stock-Island h3{
        font-size:40px;
        font-weight:900;
        display: flex;
    }
}

@media (max-width: 930px){
    .title-image{
        width: 30%;
        align-items: center;
    }

    .BENImg{
        width: 300px;
        object-fit: cover;
        object-position:10% 10%;
    }
}

@media (max-width: 1080px){     
    .Img_Center{
        flex-direction:column;
    }

    .Img_Center div {
        width: 100%;
    }

    .Center_First_Img{
        display: flex;
        justify-content:center;
        margin-bottom: 60px;
    }

    .Center_Second_Img{
        justify-content:center;
    }
    
    .Center_First_Img img{
        width: 70%;
    }

    .Center_Second_Img img{
        width: 70%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    /* HEADER */

    nav {
        display: none;
    }

    .Logo {
        width: 50%;
    }

    .AccountPic{
        width: 100%;
        justify-content: flex-end;  
    }

    /* MAIN */

    .main-page{
    margin-top: 0;
    }

    .Title-Screen{
        width: 100%;
    }
    
    .title-image{
        width: 20%;
        align-items: center;
    }

    .BENImg{
        width: 300px;
        object-fit: cover;
        object-position:6% 10%;
    }

    /* STOCK PAGE */

    .Stock-all{
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }

    .Stock-Island h3{
        font-size:40px;
        font-weight:900;
        display: flex;
    }
       
    /* REVIEW */

    .Review{
        flex-direction: column;
    }

    .Review p{
        width: 100%;
    }

    .review-solo{
        margin-left: 10px;
    }

    .Stars_Background{
        margin-bottom: 20px;
    }

    /* FEEDBACK */

    input{
        width: 300px;
        margin: 0;
        margin-left:20px;
    }

    .Feedback_Big textarea{
        margin:0;
        margin-top: 50px;
        margin-left:10px;
    }

    /* TEAM */

    .Team{
        width: 680px;
        margin: 0;
    }

    .All_Persons_Top{
        margin-bottom:-50px;
    }

    /* CONTACTS  */

    .All_Info {
        margin-top:0;
        display: flex;
        flex-direction: column-reverse;
        height: 90%;
    }
    .Map{
        width: 650px;
    }

    .Contact_all{
        width: 90%;
        height: 550px;
        margin-left: 45px;
    }

    /* PARTNERS */

    
    .Img_Center{
        flex-direction:column;
    }

    .Img_Center div {
        width: 100%;
    }

    .Center_First_Img{
        display: flex;
        justify-content:center;
        margin-bottom: 60px;
    }

    .Center_Second_Img{
        justify-content:center;
    }
    
    .Center_First_Img img{
        width: 70%;
    }

    .Center_Second_Img img{
        width: 70%;
    }

}
